.header {
    display: flex;
    flex-direction: column;

    &__wrapper {
        padding: 64px 0 40px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 77.45px;
        letter-spacing: -2%;
        color: #000;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 21px;
        line-height: 36px;
        color: #000;
        margin-bottom: 48px;
    }
}

hr {
    height: 1px;
    width: 100%;
    background-color: #DEE2E6;
}

@media (max-width: 767px) {
    .header__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__title {
        font-size: 52px;
        line-height: 62.93px;
        letter-spacing: normal;
        margin-bottom: 14px;
    }
    .header__subtitle {
        max-width: 312px;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 28px;
    }
}